@import "./reset.css";

:root {
	--color-primary: #f76890;
	--color-black: #222;
	--content-max-width: 1424px;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: #fdf9fc;
	color: #222;
	overflow-x: clip;
}
a {
	color: inherit;
}
a:hover {
	color: var(--color-primary);
}
